body {
    position: relative;
}

.affix {
  top: 60px;
  width: 213px;
}

ul#nav li a {
    color: #666;
}

ul#nav li.active a {
    border-left: 2px solid #999;

}

ul#nav li.active:has(> li.active) a {
    border: none;

}
.container {
    max-width: 90%;
}

img {
    max-width: 90%;
}
@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }         
}