<div class="jumbotron">
    <div class="container">
        <h1>The Intel Commercial IoT Workshop</h1>
        <h3><span class="fa fa-pencil"></span> Deploy Internet of Things Devices in your business</h3>
        <h3><span class="fa fa-pencil"></span> Monitor your enterprise in real-time.</h3>
        <h3><span class="fa fa-pencil"></span> Increase your insight, reduce your costs.</h3>
        <a href="http://www.sitepoint.com/understanding-bootstraps-affix-scrollspy-plugins" class="btn btn-primary btn-lg">Learn More</a>
    </div>
</div><!--end of .jumbotron-->
